@import '../../vars';

#equinor2{
	position: relative;
	display: inline-block;
  	width: auto;
  	overflow:hidden;
}


.eq2c{
	width: 100%;

	@media(--xs){
	    width: 200%;
	    left: -50%;
	    position: relative;
	}



}


.eq2{
	position: relative;
	width: 100%;
	& svg{
		max-width: 1183px;
		width: 100%;
    	height: auto;
	}
}







.eq2-txtblock{
	@media(--xs){
		transform: translate(-300px, 0);
	}
}

.eq2-txtblock2{
	@media(--xs){
		transform: translate(-150px, 0px);
	}
}




#tsparticles{
	position: absolute;
/*	top: 50%;
	left: 25%;
	bottom: 0;
	right: 25%;
	width: 50%;
	height: 50%;*/


	top: 0%;
	left: 0%;
	bottom: 0;
	right: 0%;
	width: 100%;
	height: 100%;
}

.eq2mask{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


#tsparticles{
 	/*clip-path: url(#clippath2);*/
 }

 .svgmask{
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;


 }

 #tsparticles{
 	& canvas{
 		position: absolute;
 		top: 50% !important;
 		height: 50% !important;
 		width: 50% !important;
 		left: 25% !important;
 		right: 25% !important;
 	}
 }

 .eq-turbo{
 	opacity: 0;
 }