@import '../../vars';

.eq1{
	width: 100%;

	& svg{
		max-width: 630px;
		width: 100%;
    	height: auto;
	}
}


.eq1-text{
	transition: opacity 0.5s ease-out !important;
}
.eq1-text-hidden{
	opacity: 0;
}

.eq1-btn{
	cursor: pointer;
	pointer-events: bounding-box;
}

@media (hover: hover) {
	.eq1-btn:hover{
		& .eq1-btnarea{
			opacity: 1;
		}
	}
}

.eq1-btnarea{
	transition: opacity 0.5s ease-out !important;
	opacity: 0;
}
.eq1-btnarea-active{
	opacity: 1;
}

.eq1-cloud{
	transform-origin: center 70%;
	transition: transform 0.5s ease-out !important;
}

.eq1-cloud0{
	transform: scale(0.7);
}
.eq1-cloud1{
	transform: scale(0.8);
}
.eq1-cloud2{
	transform: scale(0.9);
}
.eq1-cloud3{
	transform: scale(1.0);
}
.eq1-cloud4{
	transform: scale(1.1);
}
.eq1-cloud5{
	transform: scale(1.2);
}

