@font-face {
    font-family: 'Metric';
    src: url('https://www.alphagridinfographics.com/equinor2/fonts/Metric-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metric';
    src: url('https://www.alphagridinfographics.com/equinor2/fonts/Metric-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Financier';
    src: url('https://www.alphagridinfographics.com/equinor2/fonts/FinancierDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Metric-Medium';
    src: url('https://www.alphagridinfographics.com/equinor2/fonts/Metric-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metric-Semibold';
    src: url('https://www.alphagridinfographics.com/equinor2/fonts/Metric-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FinancierDisplay-Bold';
    src: url('https://www.alphagridinfographics.com/equinor2/fonts/FinancierDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

