<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
		<title><%= htmlWebpackPlugin.options.title %></title>
		
		<style>
			.eq-mg{
				position: relative;
				width: 100%;
				height: 100vh;
			}
		</style>

		<link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
		<% for (var chunk in htmlWebpackPlugin.files.chunks) { %><script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><% } %>
	</head>
	<body>

		<div id="equinor1"></div>
		<div class="eq-mg"></div>
		<div id="equinor2"></div>
		<div class="eq-mg"></div>
		<div id="equinor3"></div>
		<div class="eq-mg"></div>
		<div id="equinor4"></div>
		<div class="eq-mg"></div>
	</body>
</html>


