:root {
  --color-white: #fff;
  --shadow: 0px 0px 3px 2px rgba(0,0,0,0.7);
}

@custom-media --xs (max-width: 768px);
@custom-media --sm (min-width: 576px);
@custom-media --md (min-width: 769px);
@custom-media --lg (min-width: 992px);
@custom-media --xl (min-width: 1200px);
@custom-media --xxl (min-width: 1400px);

@custom-media --nonretina not screen and (-webkit-min-device-pixel-ratio: 2),
not screen and (   min--moz-device-pixel-ratio: 2),
not screen and (     -o-min-device-pixel-ratio: 2/1),
not screen and (        min-device-pixel-ratio: 2),
not screen and (                min-resolution: 192dpi),
not screen and (                min-resolution: 2dppx);

@media (hover: hover) {
}

@supports not (-ms-high-contrast: none){
}